:host {
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    height: 80px;
    color: #ffffff;
    background: #2c3e50;
    font-family: sans-serif;
    box-shadow: 0 0 4px 2px rgba(0,0,0, 0.3);
}

.header {
    height: 100%;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

a {
    padding: 0 32px;
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

a.active {
    border-bottom: currentColor solid 3px;
}

a:hover {
    background: rgba(255, 255, 255, 0.3);
}

h1 {
    padding: 0 32px;
    margin: 0;
}
